<div class="app layout-fixed-header bg-login usersession">
  <div class="full-height">
    <%= render "partials/flash" if flash %>
    <div class="center-wrapper">
      <div class="center-content">
        <div class="row no-margin">
          <div class="text-center mb15">
            <img src="/img/restobot.png" class="w300">
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-white">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-inputs">
                <%= f.label :password, "New password" %><br />
                <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
              </div>

              <div class="form-inputs">
                <%= f.label :password_confirmation, "Confirm new password" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>

              <button class="btn btn-primary btn-block btn-lg mb15" type="submit">
                <span>Submit</span>
              </button>
              <p>
                <em>Remembered your password?</em> <%= link_to "Try logging in again", session_path(resource_name), class:'helper-link' %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


