<div class='panel'>
    <div class='panel-heading border pb45'>
         <div class='pull-right mt7'>
            <%= link_to "<i class='fa icon-glyph-90 f20'></i>".html_safe, current_brand.brand_setting.present? ? update_po_schedule_brands_path : set_purchase_order_restriction_brands_path, class: "btn btn-setting", data: { tt: "tooltip", placement: "top", "original-title": 'Purchase Order Setting' }, remote: true %>
        </div>
        <div class="pull-left mt7">Purchase Orders</div>
        <span class='space'></span>
            <%= link_to "<i class='icon-glyph-164 mr5 f14' ></i> Create Purchase Order".html_safe, new_purchase_order_generator_path, class: "btn btn-success btn-round btn-outline", remote: true %>
        <div class='panel-controls no-upp nave-tabs'>        
            <div class='tab'>
                <button class='tablinks' onclick="openTab(event, 'approved')">Approved</button>
                <button class='tablinks' onclick="openTab(event, 'on_hold')">On Hold</button>
                <button class='tablinks' onclick="openTab(event, 'rejected')">Rejected</button>
            </div>
        </div>
    </div>
    <div class='panel-body'>
        <div class='tabcontent' id='approved'>
            <%= react_component 'PurchaseOrderApproved' %>
        </div>
        <div class='tabcontent' id='on_hold'>
            <%= react_component 'PurchaseOrderOnhold' %>
        </div>
        <div class='tabcontent' id='rejected'>
            <%= react_component 'PurchaseOrderRejected' %>
        </div>
    </div>
</div>

<script>
    var tablinks = document.getElementsByClassName("tablinks");
    tablinks[0].click();
</script>

<%= render "partials/modal" %>
