<div class="app layout-fixed-header bg-login usersession">
  <div class="full-height">
    <%= render "partials/flash" if flash %>
    <div class="center-wrapper">
      <div class="center-content">
        <div class="row no-margin">
          <div class="text-center mb15">
            <img src="/img/restobot.png" class="w300">
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 bg-white">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"form-layout"}) do |f| %>
              <p class="text-center mb30 mt10">
                Welcome to Restobot. Please sign in to your account
              </p>
              <div class="form-inputs">
                <%= f.text_field :login, autofocus: true, class:"form-control input-lg", placeholder:"Email Address" %>
                <%= f.password_field :password, autocomplete: "off", class:"form-control input-lg", placeholder:"Password" %>
              </div>
              <button class="btn btn-success btn-block btn-lg mb15" type="submit">
                <span>Sign in</span>
              </button>
              <p>
                <%= link_to "Create an account", new_user_registration_path %> · <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
