$('#modal h4').html('Edit Supplier');

$('.modal-body').html('<%= j render("form") %>');

$('#modal').modal("show");

$('.chosen').chosen({
	width: "100%"
});

$(document).ready(function(){
	var email_addresses = "<%= @supplier.emails.join(",") %>"	
	<% if @supplier.emails.length != 0 %>
		var emails = email_addresses.split(",");
		email_addresses.split(",").map(function(email){
			$("#email_addresses").append("<li class='email-list'>"+email+"<button id='wew' class='inline' type='button'>x</button></li>")
		});
	<% else %>
		var emails = []
	<% end %>
	$("#emails").val(emails)
	$("#add").on('click', function(){
		var input = $("#e_add")
		if(input.val() != '' ){
			emails.push(input.val())
			$("#email_addresses").append("<li class='email-list'>"+input.val()+"<button id='wew' class='inline' type='button'>x</button></li>")
			input.val('')
			$('#emails').val(emails)
		}else{ alert("Please input valid email") }		
	})
	
	$("#email_addresses").on('click', '.inline',function(){
		var x = emails.find( x => x === $(this).closest('li').text().replace('x', ''))
		emails.splice( $.inArray(x, emails), 1);
		$('#emails').val(emails)
		$(this).closest('li').remove();	
	})	
})

$('#sample').on('click', function(){
	$.ajax({
		url: '/api/suppliers/<%=  @supplier.id %>',
		beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		method: 'PATCH',
		dataType: 'JSON'
	})
})

$("[data-toggle='toggle']").bootstrapToggle();

var assignedToValue = $("select#supplier_assigned_to").val();
if(assignedToValue == 2){
	$(".p_brand_field").show();
	$(".p_branch_field").hide();
}
else if(assignedToValue == 3){
	$(".p_brand_field").show();
	$(".p_branch_field").show();
	$.ajax({
		url: "<%= update_branch_path %>",
		data: {
			brand_id: $('.p_brand_field').find('select').val(),
			brand_field_id: $('.p_brand_field').find('select').prop("id"),
			selected_brand_branch_id: "<%= @supplier.branch_id %>"
		}
	});
}
else{
	$(".p_brand_field").hide();
	$(".p_branch_field").hide();
}

$("select#supplier_assigned_to").on("change", function(){
	var assignedToValue = $(this).val();	// 1 - Client; 2 - Supplier; 3 - Branch;
	if(assignedToValue == 2){
		$(".p_brand_field").slideDown();
		$(".p_branch_field").slideUp();
		$(".p_brand_field").find("select").prop("required",true);
		$(".p_branch_field").find("select").prop("required",false);
	}
	else if(assignedToValue == 3){
		$(".p_brand_field").slideDown();
		$(".p_branch_field").slideDown();
		$(".p_brand_field").find("select").prop("required",true);
		$(".p_branch_field").find("select").prop("required",true);
		$.ajax({
			url: "<%= update_branch_path %>",
			data: {
				brand_id: $('.p_brand_field').find('select').val(),
				brand_field_id: $('.p_brand_field').find('select').prop("id")
			}
		});
	}
	else{
		$(".p_brand_field").slideUp();
		$(".p_branch_field").slideUp();
		$(".p_brand_field").find("select").prop("required",false);
		$(".p_branch_field").find("select").prop("required",false);
	}
	$('.chosen').trigger("chosen:updated");
});

$("select#supplier_brand_id").on("change", function(){
	$.ajax({
		url: "<%= update_branch_path %>",
		data: {
			brand_id: $(this).val(),
			brand_field_id: $(this).prop("id")
		}
	});
});