<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Order</title>
            <%= wicked_pdf_stylesheet_link_tag 'style' %>
            <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
        <meta charset='utf-8'>
    </head>
    <body id='pdf-body'>
        <div class='pdf-container'>    
			<h2>Purchase List Reports</h2>       
			<table class="table table-bordered table-striped mb0">
				<thead>
					<tr class="big-head">
						<th>INVOICE NUMBER</th>
						<th>TRANSACTION DATE</th>
						<th>BRANCH</th>
						<th>SUPPLIER</th>
						<th>ITEM NAME</th>
						<th>VAT TYPE</th>
						<th>CATEGORY</th>
						<th>QUANTITY</th>
						<th>UNIT</th>
						<th>REMARKS</th>
						<th>UNIT PRICE</th>
						<th>VAT AMOUNT</th>
						<th>NET AMOUNT</th>
						<th>TOTAL AMOUNT</th>
					</tr>
				</thead>
				<tbody>
					<% total_purchases_net_amount = 0 %>
					<% total_purchases_total_amount = 0 %>			
					<% @purchases.each do |purchase| %>
						<% purchase_net_amount = 0 %>
						<% purchase_total_amount = 0 %>
						<% purchase_items = @items.present? ? purchase.purchase_items.search_item(@items) : purchase.purchase_items %>
						<% purchase_items.each do |pi| %>
							<% nvt = net_vat_total_computation([pi]) %>
							<tr>
								<td><%= purchase.invoice_number %></td>
								<td><%= purchase.purchase_date.strftime("%b %d, %Y") %></td>
								<td><%= purchase.branch.name %></td>
								<td><%= purchase.supplier.name %></td>
								<td><%= pi.item.name %></td>
								<td><%= pi.vat_type %></td>
								<td><%= pi.item.category.name %></td>
								<td><%= pi.quantity %></td>
								<td><%= pi.unit_name %></td>
								<td><%= pi.remarks %></td>
								<td><%= pi.purchase_item_amount %></td>
								<td><%= number_to_currency(nvt[:vat], unit: "₱") %></td>
								<td><%= number_to_currency(nvt[:net], unit: "₱") %></td>
								<td><%= number_to_currency(nvt[:total], unit: "₱") %></td>
								<% purchase_net_amount += nvt[:net] %>
								<% purchase_total_amount += nvt[:total] %>
							</tr>
						<% end %>
						<%  unless purchase.purchase_items.empty? || @items.present? %>
							<tr class="bg-total">
								<td colspan="12"></td>
								<td class="label-total-num"> <%= number_to_currency(purchase_net_amount, unit: "₱") %></td>
								<td class="label-total-num"><%= number_to_currency(purchase_total_amount, unit: "₱") %></td>
								<% total_purchases_net_amount += purchase_net_amount %>
								<% total_purchases_total_amount += purchase_total_amount %>
							</tr>
						<% end %>
					<% end %>
					<tr class="bg-total">
						<td class="text-right" colspan="12">Total:</td>
						<td class="label-total-num"><%= @items.present? ? number_to_currency(@purchases.map { |pur| pur.purchase_items.search_item(@items).map(&:item_total_net).sum }.sum.round(2), unit: "₱") : number_to_currency(total_purchases_net_amount, unit: "₱") %></td>
						<td class="label-total-num"><%= @items.present? ? number_to_currency(@purchases.map { |pur| pur.purchase_items.search_item(@items).map(&:item_total_amount).sum }.sum.round(2), unit: "₱") : number_to_currency(total_purchases_total_amount, unit: "₱") %></td>
					</tr>
				</tbody>
			</table>
		</div>
    </body>
</html>