<!DOCTYPE html>
<html>
    <head>
        <title>Purchase List Report</title>
            <%= wicked_pdf_stylesheet_link_tag 'style' %>
            <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
        <meta charset='utf-8'>
    </head>
    <body id='pdf-body'>
        <div class='pdf-container'>    
			<h2>Purchase List Report <span style="float:right; font-size:14px"><%= "( #{@date} )" %></span></h2>       
			<table id='purchase-list' class="table table-bordered table-striped mb0">
				<thead>
					<tr class="big-head">
						<th width='145'>INVOICE NUMBER</th>
						<th width='145'>TRANSACTION DATE</th>
						<th width='145'>BRANCH</th>
						<th width='145'>SUPPLIER</th>
						<th width='145'>ITEM NAME</th>
						<th width="145">VAT TYPE</th>
						<th width='145'>CATEGORY</th>
						<th width='145'>QUANTITY</th>
						<th width='145'>UNIT</th>
						<th >REMARKS</th>
						<th width='145'>UNIT PRICE</th>
						<th width='145'>VAT AMOUNT</th>
						<th width='145'>NET AMOUNT</th>
						<th width='145'>TOTAL AMOUNT</th>
					</tr>
				</thead>
				<tbody>
					<% total_purchases_net_amount = 0 %>
					<% total_purchases_total_amount = 0 %>			
					<% @all_purchases.each do |purchase| %>
						<% purchase_net_amount = 0 %>
						<% purchase_total_amount = 0 %>
						<% purchase_items = @items.present? ? purchase.purchase_items.search_item(@items) : purchase.purchase_items %>
						<% purchase_items.each do |pi| %>
							<tr>
								<td><%= purchase.invoice_number %></td>
								<td><%= purchase.purchase_date.strftime("%b %d, %Y") %></td>
								<td><%= purchase.branch.name %></td>
								<td><%= purchase.supplier.name %></td>
								<td><%= pi.item.name %></td>
								<td><%= pi.vat_type %></td>
								<td><%= pi.item.category.name %></td>
								<td><%= pi.quantity %></td>
								<td><%= pi.unit_name %></td>
								<td><%= pi.remarks %></td>
								<td class='align-right'><%= to_peso(pi.purchase_item_amount) %></td>
								<td class='align-right'><%= to_peso(pi.item_total_vat) %></td>
								<td class='align-right'><%= to_peso(pi.item_total_net) %></td>
								<td class='align-right'><%= to_peso(pi.item_total_amount) %></td>
								<% purchase_net_amount += pi.item_total_net %>
								<% purchase_total_amount += pi.item_total_amount %>
							</tr>
						<% end %>
						<%  unless purchase.purchase_items.empty? || @items.present? %>
							<tr class="bg-total">
								<td colspan="12">Total:</td>
								<td class="label-total-num align-right"> <%= to_peso(purchase_net_amount) %></td>
								<td class="label-total-num align-right"><%= to_peso(purchase_total_amount) %></td>
								
							</tr>
						<% end %>
						<% total_purchases_net_amount += purchase_net_amount %>
						<% total_purchases_total_amount += purchase_total_amount %>
					<% end %>
					<tr class="bg-total">
						<td class="text-right" colspan="12">Total:</td>
						<td class="label-total-num align-right"><%= to_peso(total_purchases_net_amount) %></td>
						<td class="label-total-num align-right"><%= to_peso(total_purchases_total_amount)  %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='centered-container'>
		
			<div class='md-4'>
				<center><b>Prepared by: </b></center>
			</div>
			<div class='md-4'>
				<center><b>Reviewed by: </b></center>
			</div>
			<div class='md-4'>
				<center><b>Approved by: </b></center>
			</div>
		</div>
    </body>
</html>