<!DOCTYPE html>
<html>
<head>
  <title>RestobotV4</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <title>Restobot v4</title>
</head>
<body>
	<%= render "layouts/header" if user_signed_in? %>
	<%= link_to "Login", new_user_session_path, data: { keybinding: "i n" } unless user_signed_in? %>
	<% if user_signed_in? %>
		<main class="cd-main-content">
			<%= render "layouts/nav" if user_signed_in? && wizard_done? %>
			<div class="content-wrapper">
				<%= render "partials/flash" if flash %>
				<%= yield %>
			</div>	
		</main>
	<% else %>
		<%= render "partials/flash" if flash %>
		<%= yield %>
	<% end %>

	<script>
		$(document).foundation();
		$(document).ready(function(){
			recordLength = $('tbody').children().length;
			if(recordLength == 0){
				$('table').replaceWith("<h5>No records found</h5>");
			}
		});
	</script>
</body>
</html>
