<!DOCTYPE html>
<html>
    <head>
        <title>Purchase Order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <%= stylesheet_link_tag 'pdf.css' %>
    </head>
    <body id='pdf-body'>
        <div class='pdf-container'>
            <div class='panel'>
                <div class='panel-heading bordered'>
                    <img class='brand-avatar' alt="<%= @purchase_order.brand.name %>" src="<%= @purchase_order.brand.avatar %>" /> 
                    <h4 class='pdf-header'><%= @purchase_order.brand.name %></h4>
                </div>
                <div class='panel-body'>
                    <div class='pull-left'>
                        <h5>PO NUMBER: <span><%= @purchase_order.po_number %></span></h5>
                    </div>
                    <div class='pull-right'>
                        <h5>PO DATE: <span><%= @purchase_order.po_date.strftime('%B %d, %Y') %></span></h5>
                    </div>
                    <br>
                    <div class='row mb10'>
                        <div class='col-xs-12'>
                            <div class='col-xs-6 bordered h230'>
                                <div class='row mb10'>
                                    <div class='col-xs-6'>
                                        <label class='header'>Supplier:</label> 
                                    </div>
                                    <div class='col-xs-6'>
                                         <p><%= @purchase_order.supplier.name %></p>
                                    </div>
                                </div> 
                                <div class='row mb10'>
                                    <div class='col-xs-6'>
                                        <label class='header'>Contact Person:</label> 
                                    </div>
                                    <div class='col-xs-6'>
                                         <p><%= @contact_title %>, <%= @contact_person %></p>
                                    </div>
                                </div>   
                                <div class='row mb10'>
                                    <div class='col-xs-6'>
                                        <label class='header'>Email:</label>
                                    </div>
                                    <div class='col-xs-6'>
                                         <p><%= @email %></p>
                                    </div>
                                </div>                                          
                            </div>
    
                            <div class='col-xs-6 bordered h230'>
                                <div class='row mb10'>
                                    <div class='col-xs-6'>
                                        <label class='header'>Deliver To:</label> 
                                    </div>
                                    <div class='col-xs-6'>
                                        <p><%= @purchase_order.branch.name %></p>
                                    </div>
                                </div> 
                                <div class='row mb10'>
                                    <div class='col-xs-6'>
                                        <label class='header'>Address:</label> 
                                    </div>
                                    <div class='col-xs-6'>
                                        <p><%= @purchase_order.branch.address1 %></p>
                                    </div>
                                </div> 
                                <div class='row mb10'>
                                    <div class='col-xs-6'>
                                        <label class='header'>Delivery Date and Time:</label> 
                                    </div>
                                    <div class='col-xs-6'>
                                        <p><%= @purchase_order.delivery_date.strftime('%B %d, %Y') %>, <%= @purchase_order.delivery_time %></p>
                                    </div>
                                </div> 
                            </div>          
                        </div>    
                    </div>
                    <br>
                    <h5>Items Purchased</h5>
                    <table class='table table-bordered table-striped mb0'>
                        <thead>
                            <tr class='bg-thead'>
                                <th>Item Name</th>
                                <th>Packaging</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @purchase_order_items.map do |poi| %>
                                <tr>
                                    <td><%= poi.item.name %></td>
                                    <td><%= poi.packaging == '' ? '---' : poi.packaging %></td>
                                    <td><%= poi.quantity.to_i.to_s %></td>
                                    <td><%= poi.unit.name %></td>
                                    <td><%= number_to_currency(poi.price_selected, unit: "₱ ") %></td>
                                    <td><%= number_to_currency(poi.total_amount, unit: "₱ ") %></td>
                                </tr>
                            <% end %>
                            <tr>
                                <td class='highlighted align-right' colspan='5'>Sub Total</td>
                                <td class='highlighted' colspan='1'><%= number_to_currency(@purchase_order.sub_total, unit: "₱ ") %></td>
                            </tr>
                            <tr>
                                <td class='highlighted align-right' colspan='5'>12% VAT</td>
                                <td class='highlighted' colspan='1'><%= number_to_currency(@purchase_order.vat, unit: "₱ ") %></td>
                            </tr>
                            <tr>
                                <td class='highlighted align-right' colspan='5'>Total</td>
                                <td class='highlighted' colspan='1'><%= number_to_currency(@purchase_order.total_amount, unit: "₱ ") %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='row ml5 pb45'>
                    <% if @body.present? %>                             
                        <p class='pdf-body'>
                            <%= @body %>
                        </p>                      
                    <% end %>  
                </div>
                <p class='pdf-body'>
                    Regards,
                </p>   
                <p class='signature'>
                    <%= @purchase_order.client.name %> Team
                </p>           
            </div>      
        </div>
    </body>
</html>